.idea
.DS_Store
__pycache__
scratch/HJ_BenchMark/results/*
scratch/HJ_BenchMark/src/*
scratch/HJ_BenchMark/build/
scratch/HJ_BenchMark/tRIBS
scratch/HJ_BenchMark/syc_domain/
.DS_Store
/jupyter examples/soil_preprocess_workflow/data/
dist
pytRIBS.egg-info
