numpy~=1.26.4
pyvista~=0.43.5
pandas~=2.2.1
matplotlib~=3.8.4
geopandas~=0.14.3
shapely~=2.0.3
rasterio~=1.3.9
scipy~=1.13.0
rosetta-soil
owslib~=0.31.0
matplotlib_scalebar
pynldas2
pyproj
xarray
requests
whitebox
gdal
scikit-learn
PyWavelets
docker
timezonefinder
trame
